<div class="reading-time">
  {{ partial "svg" (dict "iconName" "clock" "size" "18px")}}
  <span>{{ .ReadingTime }} {{ "minute" | pluralize }}</span>
</div>

<div class="published-date">
  {{ partial "svg" (dict "iconName" "calendar" "size" "18px")}}
  <span>{{ .PublishDate.Format "January 2, 2006" }}</span>
</div>
<div class="page-tag">
  <div class="page-tag">Category: </div>
    {{ with .Params.categories }}
      <div class="page-tag" id="tags">
        {{ range . }}
          <div class="page-tag">
            <a href="{{ "categories" | absURL }}/{{ . | urlize }}">{{ . }}</a>
          </div>
        {{ end }}
      </div>
    {{ end }}
</div>
<div class="page-tag">
  <div class="page-tag">tags: </div>
    {{ with .Params.tags }}
      <div class="page-tag" id="tags">
        {{ range . }}
          <div class="page-tag">
            <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
          </div>
        {{ end }}
      </div>
    {{ end }}
</div>
<br>
<span>
  {{ .TableOfContents }}
</span>